/*

!/src/
/src/**
!/src/**/
!/src/**/*.ts

**/.*/
**/.*

!/.config/
/.config/**
!/.config/**/
!/.config/**

!/.editorconfig
!/.eslintignore
!/.eslintrc.json
!/.gitattributes
!/.gitignore
!/.ignore
!/.npmignore
!/.npmrc
!/.prettierignore
!/.prettierrc.json
!/.tool-versions
!/CHANGELOG.md
!/LICENSE
!/package-lock.json
!/package.json
!/README.md
!/TODO.md
!/tsconfig.json
!/tsconfig-dev.json
